<ion-header>
  <ion-toolbar>
    <ion-title>
      Simple card with skeleton text
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 350px;">
    <ion-row class="ion-justify-content-center">
      <ion-col sizeMd="5">

        <div id="container">
          <ion-card *ngFor="let item of cardData">
            <ion-card-header color="primary">
              <ion-item color="primary">
                <ion-avatar>
                  <img src="{{item.avatarUrl}}" />
                </ion-avatar>
                <ion-card-title>{{item.title}}</ion-card-title>
                <div class="like-wrapper">
                  <ion-icon name="heart" color="danger"></ion-icon>
                  <span> &#x7c; </span>
                  <div class="likes-count">{{item.likeCount}}</div>
                </div>
              </ion-item>
            </ion-card-header>
            <ion-card-content class="ion-margin-vertical">
              {{item.cardText}}
            </ion-card-content>

            <ion-row class="card-footer">
              <ion-col class="card-text">{{item.createdDate}}</ion-col>
              <ion-col class="card-buttons">
                <ion-button fill="clear" size="small">
                  <ion-icon slot="icon-only" name="trash" color="danger" size="small"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small">
                  <ion-icon slot="icon-only" name="eye" color="primary" size="small"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small">
                  <ion-icon slot="icon-only" name="thumbs-up" color="success" size="small"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>

          <!-- SKELETON TEXT - placeholder until data has arrived -->
          <ion-card *ngIf="!cardData">
            <ion-card-header color="translucent">
              <ion-skeleton-text [animated]="true" style="height: 60px"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text [animated]="true" style="height: 100px"></ion-skeleton-text>
            </ion-card-content>

            <ion-row class="card-footer">
              <ion-skeleton-text [animated]="true" style="height: 50px;margin: 16px;"></ion-skeleton-text>
            </ion-row>
          </ion-card>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>